pypdf
langchain-community
langchain-huggingface
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings   
groq
chromadb
sentence-transformers
python-multipart
requests
rank-bm25
langchain-chroma
python-jose[cryptography]
passlib[bcrypt]
email-validator